<!DOCTYPE html>
<html lang="en_US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link media="all" rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/Chart.min.js"></script>
<title>Laundry</title>
</head>
<body>
<h2>Laundry is {{status}}</h2>
<p>{{timeString}}</p>
<div class="chart-container" style="position: relative; height: 90vh; width:90vw">
    <canvas id="chart"></canvas>
</div>
<script>
var ctx = document.getElementById('chart');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{#chartLabels}}'{{.}}',{{/chartLabels}}],
        datasets: [{
	    label: 'Watt',
            backgroundColor: '#03dac5',
            borderWidth: 1,
            data: [{{chartPoints}}]
        }]
    }, 
    options: {
        responsive: true,
        aspectRatio: 1,
        elements: {
            point: {
                radius:0
            },
        },
        scales: {
            yAxes: [{
                ticks: {
                    min:0,
                    max:2500
                }
            }]
        }
    }
});
</script>
</body>
</html>
